.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 20px;
    gap: 20px;
    background-color: rgb(39, 39, 39);
}

.data {
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 39, 39);
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    color: darksalmon;
    font-size: 36px;
}

.data__title {
    color: rgb(145, 0, 0);
    font-size: 52px;
    font-weight: bold;
    text-shadow: 5px 0 0 rgb(27, 0, 0), -5px 0 0 rgb(27, 0, 0), 0 5px 0 rgb(27, 0, 0), 
    0 -5px 0 rgb(27, 0, 0), 3px 3px rgb(27, 0, 0), -3px -3px 0 rgb(27, 0, 0), 3px -3px 0 rgb(27, 0, 0), -3px 3px 0 rgb(27, 0, 0);
}

.data__label {
    color: rgb(255, 130, 130);
    font-size: 42px;
}

.data__hr-container {
    width: 30%;
}

.data__hr {
    border-color: rgb(36, 36, 36);
    border-width: 3px;
    margin: 15px 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    background-color: darkslategrey;
    border: 2px solid black;
    color: rgba(0, 223, 223, 0.514);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
    width: 20%;
    border-radius: 25px;
    transition: .5s;
    overflow-wrap: break-word;


    &:hover {
        transform: scale(1.1);
        box-shadow: rgba(31, 149, 165, 0.685) 0px 5px 15px;
    }
}

.page__header {
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.page__footer {
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page__footer--inner {
    border: none !important;
}

.page__header, .page__footer {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    color: rgb(132, 202, 198);
    font-weight: bold;
    text-shadow: 5px 0 0 rgb(27, 0, 0), -5px 0 0 rgb(27, 0, 0), 0 5px 0 rgb(27, 0, 0), 
    0 -5px 0 rgb(27, 0, 0), 3px 3px rgb(27, 0, 0), -3px -3px 0 rgb(27, 0, 0), 3px -3px 0 rgb(27, 0, 0), -3px 3px 0 rgb(27, 0, 0);
}

.page__button {
    padding: 5px 20px;
    background-color: rgb(79, 167, 167);
    color: rgb(3, 3, 3);
    font-weight: bolder;
    font-size: inherit;
    font-family: inherit;
    border-radius: 20px;
    transition: .2s;
    cursor: pointer;

    &:hover {
        background-color: rgb(54, 128, 128);
    }

    &:active {
        background-color: rgb(30, 75, 75);
    }
}

.page__button--red {
    color: rgb(253, 222, 229);
    text-shadow: 5px 0 0 rgb(27, 0, 0), -5px 0 0 rgb(27, 0, 0), 0 5px 0 rgb(27, 0, 0), 
    0 -5px 0 rgb(27, 0, 0), 3px 3px rgb(27, 0, 0), -3px -3px 0 rgb(27, 0, 0), 3px -3px 0 rgb(27, 0, 0), -3px 3px 0 rgb(27, 0, 0);
    background-color: rgb(167, 79, 79);
    
    &:hover {
        background-color: rgb(128, 54, 64);
    }

    &:active {
        background-color: rgb(75, 30, 49);
    }
}

.page__input {
    background-color: rgb(110, 110, 110);
    padding: 5px 25px;
    font-size: 36px;
    color: rgb(132, 202, 198);
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: 2px 0 0 rgb(27, 0, 0), -2px 0 0 rgb(27, 0, 0), 0 2px 0 rgb(27, 0, 0), 
    0 -2px 0 rgb(27, 0, 0), 2px 2px rgb(27, 0, 0), -2px -2px 0 rgb(27, 0, 0), 2px -2px 0 rgb(27, 0, 0), -2px 2px 0 rgb(27, 0, 0);
    transition: .2s;

    &:hover {
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }

    &:focus {
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(132, 202, 198);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(132, 202, 198);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.page__switch {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}